* {
	/*CSS Reset: Always do this when styling with CSS*/
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	font-family: 'Zilla Slab', sans-serif;
}
 
nav {
	background-color: white;
	padding: 0.8rem;
	margin-bottom:2rem;
	position: sticky;
	top: 0;
}

nav > ul{
	list-style-type: none;
	text-align: right;
}

nav .nav-logo {
	position: absolute;
	left: 10%;
	top: 25px;
}
nav .right-nav, nav .nav {
	display: inline;
	padding-right: 8px;
}

.tuitt-button {
	margin-top: 1rem;
	padding: 10px;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius:30px;
	margin-right: 8%;
}

nav + #bg-image {
	min-height: 25rem;
	color: white;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
}

#bg-image > .front-bg {
	background-color: rgba(0, 0, 0, 0.6);
	min-height: 25rem;
}

#bg-image .container {
	text-align: right;
}

.container > .title {
	font-size: 4rem;
	padding-left: 40%;
	margin-right: 7%;
}

.container > .subtitle {
	font-size:25px;
	padding-left: 60%;
	margin-right: 7%;
	font-weight: lighter;
	text-indent: -3rem;
}

.apply-button {
	margin-top: 1rem;
	padding: 15px;
	padding-left: 17px;
	padding-right: 17px;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius:30px;
	margin-right: 8%;
}

#bg-image + .intro {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 20px;
}

.title-2 {
	padding-bottom: 3rem;
	font-size: 35px !important;
	text-align: center;
}

.intro + .pre-footer {
	background-color: #f7fbfb;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 20px;
}

.book-button {
	margin-top: 1rem;
	margin-left: 43%;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #336589;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius:30px;
}

footer {
	padding: 0.7rem;
	text-align: center;
}
